[Unit]
Description=genicvbridge streaming server configured in /etc/genicvstreamers/%i.env
After=network.target

[Service]
User=genicvstreamer
EnvironmentFile=/etc/genicvstreamers/%i.env
ExecStart=/usr/local/bin/genicvstreamer
Restart=on-failure

NoNewPrivileges=True
LockPersonality=True
RestrictNamespaces=True
RemoveIPC=True
RestrictSUIDSGID=True
SystemCallArchitectures=native

PrivateTmp=True
PrivateMounts=True
ProtectSystem=strict
ProtectControlGroups=True
ProtectKernelLogs=True
ProtectKernelModules=True
ProtectKernelTunables=True
ProtectHome=True
ProtectProc=invisible
ProtectHostname=True
ProtectClock=True

[Install]
WantedBy=multi-user.target
